@model IEnumerable<MVC1.Models.Persons>
@{
    ViewData["Title"] = "Personer";
}

<h1 class="h1">@ViewBag.Message</h1>
<p class="welcome-text">@ViewData["Welcome-text"]</p>


    @foreach (var person in Model)
    {
        <div class="persons">
        <p> Namn: @person.PerName <br> Ålder: @person.Age <br> Stad: @person.City</p>
        </div>
    }

